/* Reset de margens e paddings */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

/* Estilo do menu */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.menu-center a,
.menu-right a {
    color: #FFF; 
    text-decoration: none; 
}

.logo {
    margin-left: 170px;
    margin-top: 20px;

}

.menu-center ul {
    display: flex;
    list-style-type: none;
    margin-right: auto;
    margin-top: 50px;
}

.menu-center li {
    margin-left: 20px;
}

.menu-right ul {
    display: flex;
    list-style-type: none;
    margin-right: 150px;
    margin-top: 50px;
}

.menu-right li {
    margin-left: 20px;
}

/* Estilo do divisor */
.divider {
    position: absolute;
    width: 1253px;
    height: 0px;
    left: 150px;
    top: 83px;
    
    border: 1px solid #C9D6DF;
}


/* Estilo da imagem de fundo */
.background-image {
    background-image: url('/img/banner.png');
    background-size: cover;
    height: 100vh; /* Subtrai a altura do menu superior */
}

/*Bloco 2 */

.bloco2 {
    background-color:#52616B ;
    padding-top: 129px;
    padding-bottom: 37px;

}

.bloco-imagem1 {
    display: flex;
    justify-content: center; /* Centralizar o item horizontalmente */
    align-items: center; /* Centralizar o item verticalmente */

}


/* Estilo do bloco das imagens 2 e 3 */
.bloco-imagem2-3 {
    display: flex;
    justify-content: center; /* Centralizar os itens horizontalmente */
    margin-top: 17px; /* Espaçamento em relação ao bloco da imagem 1 */
    padding-left: 25px;
    padding-right: 5px;
}

/* Estilo das imagens 2 e 3 */
.imagem2,
.imagem3 {
    width: 590px;
    height: 341px;
    margin-right: 20px; /* Espaçamento entre as imagens */
}

/* Estilo das imagens 2 e 3 quando estão lado a lado */
.bloco-imagem2-3 .imagem2,
.bloco-imagem2-3 .imagem3 {
    display: flex;
    flex-direction: row;
}

/* Estilo do bloco3 com imagem de fundo, logo e texto à esquerda */
.bloco3 {
    background-image: url('/img/bmw-my-bmw-app-lp-cp-xxl\ 1.png'); /* Caminho para a imagem de fundo */
    background-size: cover;
    height: 100vh; /* Subtrai a altura do menu superior */
    display: flex;
    padding: 20px; /* Espaçamento interno */
}


.bloco3 .logo-svg {
    margin-right: 20px; 
    margin-top: 20px;
}

/* Estilo do texto no bloco3 */
.bloco3 .texto {
    margin-top: 5px;
    color: #ffffff; /* Cor do texto */
}

/* Rodapé */
.rodape {
    background-color: #1E2022;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-right: 200px;
    padding-bottom: 50px;
    align-items: center;
}

/* Títulos do rodapé */
.rodape h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

/* Lista de páginas */
.paginas {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.paginas li {
    margin-bottom: 10px;
}

.paginas a {
    color: #fff;
    text-decoration: none;
}

/* Lista de redes sociais */
.redes-sociais {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.redes-sociais li:not(:last-child) {
    margin-right: 10px;
}

.redes-sociais img {
    max-width: 24px;
    height: auto;
}



h2 {
    color: #ffffff;
}